# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.env.*
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploaded Data or Extracted Files
data/uploads/
data/tmp/
data/indexes/
*.pdf
*.png
*.jpg

# Virtual Environment
lum_env/
venv/
.env/

# PyInstaller
*.spec

# Cache
.cache/

firebase-service-account.json
data/vector_store/

directory_analysis.json
.coverage
lrag/
data/app_cache/

logs/
.pytest_cache/
